@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Explore Nari's hobbies! Welcome to the Hobby Haven.</h1>
    <p>This site is designed for those curious about me or who want to learn and share in the hobbies I enjoy. 
        Step into a world where hobbies can become talents! Whether it's cooking your first meal or starting your first game, 
        I'm here to help you improve in the areas you desire. Let's learn and master various hobbies together.</p>
    <img src="~/headphoneprofile.jpeg" class="pic1" />
    <br />
    <div class="hobby-list">
        <div class="hobby">
            <p>Cooking Korean food</p>
            <img src="~/ricecakesoup.jpeg" alt="Cooking Korean Food">
        </div>
        <div class="hobby">
            <p>Drawing</p>
            <img src="~/drawing.jpeg" alt="Drawing">
        </div>
        <div class="hobby">
            <p>Playing the piano</p>
            <img src="~/piano.jpeg" alt="Playing the Piano">
        </div>
        <div class="hobby">
            <p>Playing League of Legends</p>
            <img src="~/game.jpeg" alt="Playing League of Legends">
        </div>
    </div>

</div>
