@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="hobby-list">
        <div class="hobby">
            <p>Cooking Korean food</p>
            <img src="~/ricecakesoup.jpeg" alt="Cooking Korean Food">
            <p>Cooking Korean food is like a warm embrace, blending tradition with the joy of sharing. Each dish, from spicy kimchi to soothing rice cake soup, tells a story of culture and community. It's a flavorful journey that connects me to my roots and brings loved ones together around the table.</p>

        </div>

        <div class="hobby">
            <p>Drawing</p>
            <img src="~/drawing.jpeg" alt="Drawing">
            <p>Drawing is my escape into a world of imagination and observation. With just a ipad and apple pencil, I can capture moments, express emotions, and explore endless possibilities. It's a simple yet profound way to connect with the world through my eyes.</p>

        </div>
        <div class="hobby">
            <p>Playing the piano</p>
            <img src="~/piano.jpeg" alt="Playing the Piano">
            <p>The piano speaks in emotions, from the deepest sorrows to the highest joys. Playing it is a dialogue between heart and hands, where melodies weave stories without words. It's not just an instrument; it's a companion on my journey through music's transformative power.</p>

        </div>
        <div class="hobby">
            <p>Playing League of Legends</p>
            <img src="~/game.jpeg" alt="Playing League of Legends">
            <p>League of Legends is more than a game; it's a test of strategy, skill, and teamwork. Each match is a new challenge and an opportunity to connect with fellow gamers worldwide. It's the thrill of competition and the camaraderie of shared battles that make every session unforgettable.</p>

        </div>
    </div>


</div>

<a asp-controller="Home" asp-action="Tutor">Go to Next Page</a>

